body {
    background-color: lightblue;
}

#logo {
    max-width: 300px;
    max-height: 100%;
}

#company {
    font-size: 24px;
}

#title {
    font-size: 24px;
}

#pagecolor {
    max-height: 24px;
    max-width: 32px;
    cursor: pointer;
}

.container {
    background-color: white;
}

.flags {
    max-height: 24px;
    max-width: 32px;
    border: 2px solid #000000;
    cursor: pointer;
}

.stores {
    width: 97px;
    height: 28px;
    border-radius: 10px;
}

.useractions {
    background-color: #737373;
    border-radius: 10px;
    color: #ffffff;
    width: 143px;
    height: 28px;
}

.instock {
    resize: none;
}

.productbutton {
    font-size: 14px;
}

.productbuttonsubmit {
    
}

#deleteproduct {
    max-height: 24px;
    max-width: 32px;
    cursor: pointer;
}